body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
}

.search-container {
    margin-left: 3px;
    margin-bottom: 20px;
}

.date-filter-container {
    margin-left: 3px;
    margin-bottom: 20px;
}

table {
    margin-left: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
}

td {
    background-color: #fff;
}

.cargo-counter {
    margin-left: 10px;
    margin-bottom: 20px;
}

button {
    margin-left: 0.33%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-left: 10px;
    width: auto;
    margin-top: 20px;
}

.histogram-container {
    max-width: 80%;
    margin: 2rem auto;
}