<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактировать груз</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
<h1>Редактировать груз</h1>
<form action="#" th:action="@{/edit}" th:object="${Cargo}" method="post" id="edit-cargo-form">
  <input type="hidden" th:field="*{id}" id="cargo-id">

  <label for="cargo-name">Название груза:</label>
  <input type="text" th:field="*{v_name}" id="cargo-name" required>

  <label for="cargo-content">Содержимое груза:</label>
  <textarea th:field="*{content}" id="cargo-content" required></textarea>

  <label for="departure-city">Город отправки:</label>
  <input type="text" th:field="*{dispatch_city}" id="departure-city" required>

  <label for="departure-date">Дата отправки:</label>
  <input type="date" th:field="*{departure_date}" id="departure-date" required>

  <label for="arrival-city">Город прибытия:</label>
  <input type="text" th:field="*{arrival_city}" id="arrival-city" required>

  <label for="arrival-date">Дата прибытия:</label>
  <input type="date" th:field="*{arrival_date}" id="arrival-date" required>

  <button type="submit">Сохранить изменения</button>
</form>
<a href="/">Вернуться на главную страницу</a>
</body>
</html>
